* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #efeeee;
  justify-content: center;
  align-content: center;
  font-family: "Open Sans", sans-serif;
}
.sidebar {
  position: fixed;
  overflow: hidden;
  width: 2.5vw;
  top: 2.5vh;
  left: 0;
  /*bottom: 2.5vh;*/
  padding: 2vh 0.75vw;
  background-color: pink;
  transition: 0.5s;
  font-size: 3vw;
  text-align: center;
  white-space: nowrap;
}
.sidebar:hover {
  width: 7.5vw;
}
.container {
  display: grid;
  grid-template-columns: 4vw 81vh auto 2vw;
  grid-template-rows: 2.5vh 27vh auto 2.5vh;
  grid-template-areas: ". . . ." ". console map ." ". topics map ." ". . . .";
  width: 100vw;
  height: 100vh;
}
.container .console {
  grid-area: console;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "speed_box cpu_box ram_box";
  background-color: transparent;
}
.container .console .speed_box {
  grid-area: speed_box;
}
.container .console .cpu_box {
  grid-area: cpu_box;
}
.container .console .ram_box {
  grid-area: ram_box;
}
.container .console .sub {
  display: flex;
  margin: 2vh;
  border-radius: 3vh;
  background-color: #e0e0e0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container .console .sub span {
  margin-top: 1vh;
  margin-bottom: -2vh;
  font-size: 3vh;
}
.container .console .sub div {
  margin: auto 0;
  text-align: center;
  font-size: 4.5vh;
}
.container .console .emergency {
  background-color: pink;
}
.container .topics {
  grid-area: topics;
  display: grid;
  grid-template-columns: 12vw 12vw auto;
  grid-template-rows: 5vh auto;
  grid-template-areas: "topic_tag terminal_tag ." "main main main";
  margin-top: 1vh;
  background-color: transparent;
}
.container .topics .topic_tag {
  grid-area: topic_tag;
  background-color: cornflowerblue;
}
.container .topics .terminal_tag {
  grid-area: terminal_tag;
  background-color: coral;
}
.container .topics .main {
  grid-area: main;
  position: relative;
  background-color: transparent;
}
.container .topics .main .sub {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  background-color: #ffffff;
}
.container .topics .main .topic_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}
.container .topics .main .topic_box .topic_sub_box {
  display: flex;
  width: 25vh;
  height: 25vh;
  margin: 1vh 1vh;
  border-radius: 4vh;
  background-color: #e0e0e0;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}
.container .topics .main .topic_box .topic_sub_box span {
  margin-top: 1vh;
  margin-bottom: -2vh;
  font-size: 2vh;
}
.container .topics .main .topic_box .topic_sub_box div {
  margin: auto 0;
  text-align: center;
  font-size: 4.5vh;
}
.container .topics .main .topic_box .topic_sub_box ul {
  margin: auto 0;
  text-align: center;
  font-size: 2.5vh;
  list-style-type: none;
}
.container .topics .main .topic_box .topic_sub_box ul li {
  margin: 0.3vh;
}
.container .topics .main .topic_box .emergency {
  background-color: pink;
}
.container .topics .main .terminal_box {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  opacity: 0;
}
.container .map {
  grid-area: map;
  margin-left: 1vh;
  background-color: lightgoldenrodyellow;
}
/*# sourceMappingURL=index.css.map */