* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f9fbfd;
  justify-content: center;
  align-content: center;
  font-family: "Open Sans", sans-serif;
}
.sidebar {
  position: fixed;
  overflow: hidden;
  width: 2.5vw;
  top: 2.5vh;
  left: 0;
  /*bottom: 2.5vh;*/
  padding: 2vh 0.75vw;
  background-color: #484c7f;
  transition: 0.5s;
  font-size: 3vw;
  text-align: center;
  white-space: nowrap;
}
.sidebar:hover {
  width: 7.5vw;
}
.container {
  display: grid;
  grid-template-columns: 8vh 81vh auto 8vh;
  grid-template-rows: 2.5vh 17.5vh auto 2.5vh;
  grid-template-areas: ". . . ." ". console map ." ". topics map ." ". . . .";
  width: 100vw;
  height: 100vh;
}
.container .console {
  grid-area: console;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: #ffffff;
}
.container .console .cpu_box {
  width: 35vh;
}
.container .console .ram_box {
  width: 45vh;
}
.container .console .sub {
  display: grid;
  grid-template-columns: 3vh 8vh 3vh auto;
  grid-template-areas: ". icon . data";
  align-items: center;
  margin: 0 0 1.5vh 0;
  border-radius: 0.4vh;
  background-color: #484c7f;
}
.container .console .sub .tag {
  grid-area: icon;
  display: flex;
  width: 8vh;
  height: 8vh;
  justify-content: center;
  align-items: center;
  border-radius: 4vh;
  background-color: #ffffff;
}
.container .console .sub .tag svg {
  height: 3.5vh;
  fill: #000000;
  background-color: transparent;
}
.container .console .sub .data-wrap {
  grid-area: data;
  display: flex;
  height: 7.5vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparent;
  font-size: 1.7vh;
  user-select: none;
}
.container .console .sub .data-wrap .data {
  margin: 0;
  text-align: center;
  font-size: 4.5vh;
  font-weight: bold;
}
.container .topics {
  grid-area: topics;
  display: grid;
  grid-template-columns: 12vw 12vw auto;
  grid-template-rows: 5vh auto;
  grid-template-areas: "topic_tag terminal_tag ." "main main main";
  margin-top: 1vh;
  background-color: transparent;
}
.container .topics .topic_tag {
  grid-area: topic_tag;
  background-color: cornflowerblue;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container .topics .topic_tag:hover {
  cursor: pointer;
}
.container .topics .terminal_tag {
  grid-area: terminal_tag;
  background-color: coral;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container .topics .terminal_tag:hover {
  cursor: pointer;
}
.container .topics .main {
  grid-area: main;
  position: relative;
  background-color: transparent;
}
.container .topics .main .sub {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity 0.4s;
  border-radius: 0 0.4vh 0.4vh 0.4vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
}
.container .topics .main .topic_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  z-index: 10;
}
.container .topics .main .topic_box .topic_sub_box {
  display: flex;
  position: relative;
  width: 36vh;
  height: 17vh;
  margin-top: 3vh;
  flex-flow: column;
  justify-content: flex-start;
  background-color: #cfe2ff;
  border-radius: 0.4vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.container .topics .main .topic_box .topic_sub_box .tag {
  position: absolute;
  top: -2vh;
  left: 2.2vh;
  padding: 0.6vh 1.5vh;
  box-sizing: border-box;
  border-radius: 0.4vh;
  border: 2px solid rgba(0, 0, 0, 0.325);
  background-color: transparent;
  backdrop-filter: blur(5px);
  letter-spacing: 0.06vh;
  user-select: none;
}
.container .topics .main .topic_box .topic_sub_box .tag::before {
  position: absolute;
  content: " ";
  width: 1.8vh;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.625);
  top: 50%;
  left: 1.2vh;
  transform: translateY(-50%);
  transform-origin: center;
}
.container .topics .main .topic_box .topic_sub_box .tag .text {
  color: rgba(0, 0, 0, 0.875);
  font-size: 2vh;
  padding-left: 2.2vh;
}
.container .topics .main .topic_box .topic_sub_box .tag .key {
  position: absolute;
  height: 2px;
  width: 1.8vh;
  top: -2px;
  left: 1vh;
  background-color: #ffffff;
}
.container .topics .main .topic_box .topic_sub_box .data {
  margin: auto 0;
  text-align: center;
  font-size: 4vh;
  white-space: pre-line;
}
.container .topics .main .topic_box .topic_sub_box ul {
  margin: auto 0;
  text-align: center;
  font-size: 2.5vh;
  list-style-type: none;
}
.container .topics .main .topic_box .topic_sub_box ul li {
  margin: 0.3vh;
}
.container .topics .main .topic_box .hidden {
  height: 0;
  border: 0;
}
.container .topics .main .topic_box .emergency {
  background-color: pink;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.container .topics .main .terminal_box {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  opacity: 0;
  z-index: 0;
}
.container .map {
  grid-area: map;
  margin-left: 1vh;
  border-radius: 0 0.4vh 0.4vh 0.4vh;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #ffffff;
}
.container .map canvas {
  width: 100%;
  height: 100%;
}
.container .map #m_pos {
  position: absolute;
  background-color: transparent;
  font-size: 2vh;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container .m_tag {
  display: flex;
  position: fixed;
  overflow: hidden;
  width: 6vh;
  height: 5vh;
  padding: 0 0.75vh;
  background-color: #7c88f1;
  transition: 0.5s;
  font-size: 3vh;
  align-items: center;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.container .m_tag:hover {
  cursor: pointer;
}
.container .map_tag {
  top: 6vh;
  left: 90vh;
}
.container .map_tag:hover {
  width: 12vh;
  cursor: pointer;
}
.container .save_tag {
  top: 12vh;
  left: 90vh;
}
.container .vel_tag {
  top: 18vh;
  left: 90vh;
}
/*# sourceMappingURL=index.css.map */