<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>
{#    <div id="speed" style="width: 600px;height:350px;"></div>#}

    <div class="sidebar">
        <div>
            <ul class="menu-list">
                <li class="collapsed">
                    <span class="menu-text">感知组</span>
                </li>
                <li class="collapsed">
                    <span class="menu-text">电气组</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="console">
            <div class="speed_box"></div>
            <div class="cpu_box"><span></span></div>
            <div class="ram_box"></div>
        </div>
        <div class="topics">
            <div class="topic_tag">topics</div>
            <div class="terminal_tag">terminal</div>
            <div class="main">
                <div class="topic_box sub"></div>
                <div class="terminal_box sub"></div>
            </div>
        </div>
        <div class="map"></div>
    </div>
</body>

<script>

</script>

</html>