<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>
{#    <div id="speed" style="width: 600px;height:350px;"></div>#}

    <div class="sidebar" style="display: none">
        <div>
            <ul class="menu-list">
                <li class="collapsed">
                    <span class="menu-text">感知组</span>
                </li>
                <li class="collapsed">
                    <span class="menu-text">电气组</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="console">
            <div class="speed_box sub"><span>speed</span><div></div></div>
            <div class="cpu_box sub"><span>cpu</span><div></div></div>
            <div class="ram_box sub"><span>ram</span><div></div></div>
        </div>
        <div class="topics">
            <div class="topic_tag">topics</div>
            <div class="terminal_tag">terminal</div>
            <div class="main">
                <div class="topic_box sub">
                    <div class="current_pose topic_sub_box">
                        <span>current_pose</span><div></div>
                    </div>
                    <div class="pandar_points topic_sub_box">
                        <span>pandar_points</span><div></div>
                    </div>
                    <div class="lidar_output topic_sub_box">
                        <span>lidar_output</span><div></div>
                    </div>
                    <div class="final_waypoints topic_sub_box">
                        <span>final_waypoints</span><div></div>
                    </div>
                    <div class="command topic_sub_box">
                        <span>command</span>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <div class="terminal_box sub"></div>
            </div>
        </div>
        <div class="map"></div>
    </div>
</body>

<script>

</script>

</html>